:root {
  --color-blue-500: hsl(198, 100%, 59%);
  --color-background: hsl(255, 20%, 15%);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  color: inherit;
}

html {
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  background-color: var(--color-background);
  color: black;
  font:
    400 1em/1.5 Arial,
    system-ui;
  overflow-x: hidden;
}

#root {
  display: grid;
  place-items: center;
  padding: 1.5rem;
  block-size: 100svh;
}
