:root {
  --color-primary-500: hsl(74, 64.3%, 59.4%);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  color: inherit;
}

html {
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
}
